<!DOCTYPE html>
<meta name="viewport" content="width=device-width, initial-scale=1"/>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
<!--    设置网页的图标（favicon）-->
    <link rel="shortcut icon" href="#"/>
    <!--bootstrap-->
<!--    引入Bootstrap的CSS文件，提供页面布局、样式和响应式设计支持。-->
    <link rel="stylesheet" href="../bootstrap-4.5.0-dist/css/bootstrap.min.css">
<!--    引入Bootstrap的图标库，提供一系列可用的图标-->
    <link rel="stylesheet" href="../bootstrap-4.5.0-dist/icons/bootstrap-icons.css">
<!--    引入Bootstrap的JavaScript文件，提供动态交互功能，如模态框、工具提示等-->
    <script type="text/javascript" src="../bootstrap-4.5.0-dist/js/bootstrap.min.js"></script>
<!--    引入自定义的CSS文件main.css。-->
<!--    Stylesheet（样式表），表示连接到一个样式表，并把main.css样式应用到当前页面-->
    <link rel="stylesheet" href="../css/main.css">
</head>
<body class="bg-image">
<!--创建一个行布局，使用Bootstrap的栅格系统。-->
<!--justify-content-center：将行内的列水平居中对齐。-->
<!--align-content-center：在垂直方向上居中对齐行内的列（当行的高度大于列的高度时有效）。-->
<div class="row justify-content-center align-content-center">
<!--    col-md-5：指定列在中等及以上屏幕尺寸时占据5列的宽度。-->
<!--    text-align: center：文本居中对齐。-->
<!--    font-size: 4rem：设置字体大小为4rem。-->
<!--    color: #525258：设置文本颜色为深灰色。-->
<!--    white-space: nowrap：防止文本换行。-->

<!--    <div class="col-md-5" style="text-align: center;font-size: 4rem;color: #525258;white-space: nowrap">-->
<!--        欢迎使用管理系统-->
<!--    </div>-->
</div>
</body>
</html>